.cart-wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 120px;
    border: 5px solid #969696;
    border-radius:2rem;
    background: #d9dbda;
}